<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geely.callrecord" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".service.CallRecordService"
            android:exported="false" />

        <service android:name="com.geely.callrecord.service.UploadIntentService"/>

        <!--
        <receiver android:name=".CallReceiver" >
        <action android:name="android.intent.action.PHONE_STATE" />
        <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
        </receiver>
        -->

        <!--<receiver android:name=".receiver.CallRecordReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.PHONE_STATE" />-->
        <!--<action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

    </application>
</manifest>